.center {
  text-align: center;
}

.heading {
  margin: 1.5rem 0;
}

.pollCard {
  width: 60%;
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: center;
}

.emptyPoll {
  width: 60%;
  margin: auto;
  margin-top: 1.5rem;
  text-align: center;
}

.pollDescription {
  text-align: left;
}

.optionImg {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 1.5rem;
  cursor: pointer;
};

.optionFooter {
  display: flex;
}

.yourVotes {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline;
}

.optionTitle {
  cursor: pointer;
}

.optionTitle:hover {
  opacity: 70%;
}

.callout {
  width: 66%;
  padding: 20px;
  margin: auto;
  margin-top: 1.5rem;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #999;
}