.center {
  text-align: center;
}

.heading {
  margin: 1.5rem 0;
}

.pollCard {
  width: 60%;
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: center;
}

.emptyPoll {
  width: 60%;
  margin: auto;
  margin-top: 1.5rem;
  text-align: center;
}

.pollDescription {
  text-align: left;
}

.optionImg {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 1.5rem;
};

.optionFooter {
  display: flex;
}

.yourVotes {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline;
}